body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 90%;
}

h1 {
    color: #333;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #72bcd4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #86c5da;
}

#story {
    display: none;
    /* Hide the element initially */
    margin-top: 20px;
    white-space: pre-wrap;
    /* To maintain formatting */
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.authors,
.genres {
    margin-top: 20px;
    text-align: left;
}

h2 {
    color: #333;
    margin-bottom: 5px;
}

.authors-grid,
.genres-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    max-height: 300px;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.author-label,
.genre-label {
    background-color: #e0e0e0;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    text-align: left;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.author-label input[type="checkbox"],
.genre-label input[type="checkbox"] {
    margin-right: 5px;
}


/* Adjusting the size of the dropdown and text */

.characters select {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
}

.characters h2 {
    text-align: left;
    margin-bottom: 5px;
    color: #333;
}


/* Larger text for the dropdown options */

.characters option {
    font-size: 18px;
}